.inputSide .inputFields .position .inputComponent, .inputSide .inputFields .employer .inputComponent{
  width: 798px;
}
.inputSide .inputFields .position{
  margin-top: 69px;
}

.inputSide .inputFields .employer, .inputSide .inputFields .inlineTwoInput{
  margin-top: 12px;
}
.inputSide .inputFields .description{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.inputSide .inputFields .description textarea{
  height: 123px;
}
.inputSide .inputFields .date input{
    padding: 0 16px;
      color: #000000;
}
.inputSide .inputFields .date input[data-forFirefox=""]{
    color: rgba(0, 0, 0, 0.6);
}
.inputSide .inputFields .date input::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('../images/dateIcon.png') no-repeat;
  width: 24px;
  height: 24px;
  border-width: thin;
}
@supports (-moz-appearance:none) {
    .inputSide .inputFields .date input[data-forFirefox=""] + img{
      display: block;
    }
}
.inputSide .inputFields .date img{
  position: absolute;
  right: 0;
  margin-right: 21px;
  display: none;
}

.inputSide .nextPreviousButtons{
  margin-top: 111px;
}
